                        /*RESPOSIVIDADE*/
            
@media screen and (max-width: 1106px) { 
  
          /*OUR COLLECTION*/ 

  section.collection-coffees .content-itens {
    grid-template-columns: 1fr;
    margin-top: -4rem;
  }
  
  section.collection-coffees .item {
    display: flex;
    align-items: center;
    margin: auto;
  }       

  section.collection-coffees .first-content img {
    padding-top: 2rem;
    width: 13rem;
  }

  section.collection-coffees .second-content {
    text-align: left;
    width: 50%;
  }

  section.collection-coffees .second-content p {
    margin: 1rem 0rem 0rem 0rem;
    width: 20rem;
  }
}

@media screen and (max-width: 1013px) {
  
  html {
    font-size: 80%;
  } 

  section.hero .container { 
    background-image: url(/public/home/tablet/image-hero-coffeepress.jpg);
  }

               /* WHAY CHOOSE US */

  section.choose-us .content {
    height: 38rem;
  }

  section.choose-us .content p {
    width:80%;
  }

  section.cards-quality {
    margin-top: -19rem;
  }

  .cards-quality .content-grid {
    grid-template-columns: 1fr;
    gap: 1.3rem;
  }

  .content-grid .content-cards {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
  }

  .content-cards .second-content {
    width: 50%;
  }

  .content-cards .content-img {
    width: 30%;
  }

  .cards-quality .content-grid h1 {
    text-align: left;
    margin-bottom: 0;
  }

  .cards-quality .content-grid p {
    text-align: left;
    padding: 1rem 0rem;
    margin: initial;
    
    width: 90%;
  } 
  
  #last-img {
    padding: 1rem 0rem;
  }

              /* FOOTER */

  footer {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
  }

  footer .container  {
    display: block;
  }

  footer .content-left{
    display: block;
    margin-bottom: 1.3rem;
  }

  footer .content-left img {
    margin-bottom: 1rem;
    margin: 0;
  }

  footer .content-left nav a {
    padding: 0rem;
    margin: 0rem 0.5rem;
  }

  footer .content-right img {
    margin: 0rem 0.5rem;
    margin: 0rem;
  }
}

@media screen and (max-width: 731px) {

  section.hero .content h3 {
    font-size: 3rem;
    margin: left;
    width: 60%;
  }
  
  section.hero .content p {
    line-height: 2rem;
    margin: left;
    width: 25rem;
  }

  section.collection-coffees .content-itens {
    margin-top: -3rem;
  }
} 

@media screen and (max-width: 582px) {

  nav.navbar-links {
    display: none;
  }

               /* MENU TOGGLE */

  .menu-toggle {
    width: 20px;
    height: 25px;
    margin-top: 1rem;
  }
    
  .one,
  .two,
  .three {
    background-color: black;
    height: 3px;
    width: 100%;
    margin: 3px auto;
    transition-duration: 0.3s;
    border-radius: 100px;
  }
            
  .menu-section.on,
  .one,
  .two,
  .three {
    width: 100%;
  } 

  .menu-section.on ul {
    margin-top: -20rem;
  } 

  .menu-section.on a {
    padding: 0rem;
    margin: 2rem 0rem;
    color: #333D4B;
    transition: 00.3s;
  }

  .menu-section.on a:hover {
    color: black;
  }

  /* fullscreen */
  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: -webkit-linear-gradient(white, rgba(255, 255, 255, 0.808));

    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    right: 35px;
    top: 33px;

    width: 20px;
    height: 30px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(1px, 1px);
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(7px, -8px);
  }

  .menu-section.on nav ul {
    text-align: center;
    display: block;
  }

  .menu-section.on nav ul a{
    transition-duration: 0.5s;
    font-size: 2rem;
    line-height: 4rem;
    display: block;
    
  }

  section.hero .container {
    background-image: url(/public/home/mobile/image-hero-coffeepress.jpg);
    height: 32rem;
  }

  section.hero .content {
    text-align: center;
    margin: auto;
    width: 100%;
  }

  section.hero .content h3 {
    line-height: 3.5rem;
    margin: auto;
    width: 20rem;
  }

  section.hero .content p {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin: auto;
    width: 20rem;
  }
  
  section button {
    padding: 0.7rem 3rem;
    border: 1px solid var(--green);
    border-radius: 5px;
    background-color: var(--green);

    margin-top: 2.5rem;
    transition: 0.7s;
  }

  section.collection-coffees {
    margin: 6rem 0rem 9rem 0rem;
  }
  
  section.collection-coffees .container {
    margin: auto;
    max-width: 1280px;
    width: 90%;
  }
  
  section.collection-coffees .content {
    align-items: center;
    margin: auto;
    width: 85%;
  }
  
  section.collection-coffees .content div {
    text-align: center;
  }

  section.collection-coffees .container div span { 
    font-family: 'Fraunces', serif;
    font-weight: 600;
    font-size: 11vw;
    max-width: 1280px;
    white-space: nowrap;
  
    background: -webkit-linear-gradient(#c0c0c0, rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  section.collection-coffees .content-itens {
    margin-top: -3rem;
    text-align: center;
  
    display: grid;
    grid-template-columns: 1fr; 
    row-gap: 2rem;
  }

  section.collection-coffees .content-itens .item {
    display: block;
  }
  
  section.collection-coffees .container .content-itens img {
    width: 50%;
    align-items: center;
  }

  section.collection-coffees .content-itens .item .second-content {
    text-align: center;
    width: 100%;
    margin: auto;
  }
  
  section.collection-coffees .container .content-itens .second-content h1 {
    padding: 0rem 1rem;
  }
  
  section.collection-coffees .container .content-itens .second-content p {
    width: 70%;
    margin: auto;
    padding: 0rem 1rem;
    margin-top: 1.25rem;
    color: var(--title-text-dark);
  }


              /* WHAY CHOOSE US */


  section.choose-us .content {
    height: 55rem;
  }
  
  section.cards-quality {
    margin-top: -35rem;
  }
  
  section.choose-us  .content > p {
    width: 90%;
  }
  
  section.cards-quality .container div{
    width: 100%;
    margin: auto;
    text-align: center;
  }
  
  section.cards-quality .content-grid {
    justify-content: space-between;
    text-align: center;
  }

  section.cards-quality .content-grid .content-cards {
    display: block;
  }
  
  section.cards-quality .content-grid h1 {
    text-align: center;
  }

  section.cards-quality .content-grid p {
    width: 60%;
    margin: auto;
    padding-bottom: 3rem;
    text-align: center;
  }
  

  /* HOW-WORKS*/

  
  section.how-works .content > div {
    display: grid;
    grid-template-columns: 1fr;
  
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  section.how-works .content-grid 
    .circle, 
    .line, 
    .last-line {
        display: none;
  }
  
  section.how-works .content-grid h1 {
    margin: auto;
    width: 100%;
    padding: 0rem;
    margin-bottom: 1rem;
  }
  
  section.how-works .content-grid p {
    width: 80%;
    padding: 0rem;
    margin: auto;
  }

  section.how-works button {
    margin: auto;
    margin-top: 5rem;
  }
}

@media screen and (max-width: 320px) {
  
  section.cards-quality {
    margin-top: -33.5rem;
  }
  
}
