* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white:#fff;
  --background-light: #F2F2F2;
  --background-dark: #2C343E;
  --title-light: #FEFCF7;
  --title-text-dark: #333D4B;
  --text: #FEFCF7;
  --green: #0E8784;
  --grey: #83888F;
  --number-line: #FDD6BA;
}

@media(max-width: 1080px) {
	html {
		font-size: 93.75%;
	}
}

@media(max-width: 720px) {
	html {
		font-size: 87.5%;
	}
}

body {
  height: 100vh;
  background:  var(--background-light);
  color: var(--text)
}

body, input, textarea, button {
  font: 400 1rem "Barlow", sans-serif;
}

button {
  cursor: pointer;
  font-family: 'Fraunces', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: 'Fraunces', serif;
  font-size: 1.35rem;
  font-weight: 700;
  color: var(--title-text-dark);
}

h2 {
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--title-light);
}

h3 {
  font-family: 'Fraunces', serif;
  font-size: 4rem;
  color: var(--title-light);
}