
h1 {
  font-family: 'Fraunces', serif;
  font-size: 1.35rem;
  font-weight: 700;
  color: var(--title-text-dark);
}

h2 {
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--title-light);
}

h3 {
  font-family: 'Fraunces', serif;
  font-size: 4rem;
  color: var(--title-light);
}

header {
  margin: 1.8rem 0rem;
}

header .container {
  max-width: 1280px;
  width: 90%;

  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav a {
  font-size: 0.7rem;
  font-weight: 600;

  margin-left: 0.6rem;
  padding: 0.6rem 0rem 0.6rem 0.9rem;
  color: var(--grey);
}

section.hero {
  margin-bottom: 30px;
}

section.hero .container {
  max-width: 1280px;
  width: 90%;
  height: 450px;

  display: flex;
  align-items: center;
  margin: auto;

  background-image: url(/public/home/desktop/image-hero-coffeepress.jpg);
  background-size: cover;
  border-radius: 10px;
}

section.hero .content {
  width: 50%;
  padding-left: 5rem;
  flex-direction: column;
}

section.hero .content p {
  width: 70%;
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin: 1.5rem 0rem;
  color: var(--text);
}

section.hero button {
  padding: 0.7rem 1.5rem;
  border: 1px solid var(--green);
  border-radius: 5px;
  color: var(--text);
  background-color: var(--green);
}

section.collection {
  
}

section.collection .container {
  max-width: 1280px;
  width: 80%;
  margin: auto;
}

section.colletion h3.your-colletion {
  font-size: 1rem;
  color: blue

}

section.collection .content {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-column-gap: 1.8rem;

  text-align: center;
  justify-content: center;
}

section.collection .container .content img {
  width: 100%;
  max-height: 9.375rem;
  background-size: cover;
  margin-bottom: 2.5rem;
  padding: 5px;
}

section.collection .container .content p {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin-top: 1.25rem;
  color: var(--title-text-dark);
}

section.collection .container > h3{
  font-size: 8rem;
  margin: auto;
  text-align: center;
}

section.choose-us {
  margin-top: 8.75rem;
}

section.choose-us .container {
  max-width: 1280px;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  background-color: #2C343E;
}

section.choose-us .content {
  text-align: center;
  height: 400px;
}

section.choose-us .content h2 {
  padding-top: 4rem;
  color: var(--title-light);
  
}
section.choose-us .content p:nth-child(2) {
  width: 40%;
}

section.choose-us .content p {
  margin: auto;
  font-size: 0.76rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: var(--text);
  padding: 1.25rem;
}

section.choose-us .content-1 {
  display: grid;
  grid-template-columns: repeat(3, 26.5%);
  grid-column-gap: 1.8rem;

  text-align: center;
  justify-content: center;
}

section.choose-us .content-1 > div {
  background-color: var(--green);
  border-radius: 5px;
}

section.choose-us .content-1 h1 {
  color: var(--title-light)
}

section.choose-us .content-1 p {
  max-width: 91%;
  
}

section.choose-us .content-1 img {
  width: 4.438rem;
  height: 4.5rem;
  padding: 0.6rem;
  margin: 1.8rem 0rem;
  background-image: 100% 100%;
}

section.choose-us .content-1 div {
  height: 280px;
  margin-top: 2.5rem;
}

section.how-works {
  margin: 13rem 0rem;
}

section.how-works .container {
  max-width: 1280px;
  width: 96%;
  height: auto;
  margin: auto;
}
section.how-works .container h1:first-child {
  color: var(--grey);
  margin: 3rem 0rem;
}

section.how-works .container > div {
  display: grid;
  grid-template-columns: repeat(3, 26.5%);

  align-items: left;
  justify-content: center;
}

section.how-works .content .container-circle {
  width: 100%;
}

section.how-works .content .circle {
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--green);
  border-radius: 50%;
  background-color: var(--background-light);
}

section.how-works .content .line {
  height: 1px;
  margin-top: -0.5rem;
  margin-left: 1rem;
  background-color: #FDD6BA;;
}

section.how-works .content .last-line {
  height: 1px;
  margin-top: -0.5rem;
  margin-left: 1rem;
  background-color: var(--background-light)
}

section.how-works .content span {
  font-family: 'Fraunces', serif;
  font-weight: 600;
  font-size: 3rem;
  color: #FDD6BA;

}
section.how-works .content h1 {
  width: 50%;
  padding-top: 1.5rem;
}

section.how-works .content p {
  width: 70%;
  font-size: 0.76rem;
  font-weight: 400;
  line-height: 1.2rem;
  padding: 2.5rem 0rem;
  color: var(--title-text-dark);
}

section.how-works .content button {
  padding: 0.7rem 1.5rem;
  border: 1px solid var(--green);
  border-radius: 5px;
  color: var(--text);
  background-color: var(--green);
  }

footer {
  background-color: #2C343E;
}

footer .conteinar {
  max-width: 1280px;
  width: 90%;
  height: 6rem;

  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .logo-footer {
  
}

footer .logo-nav {
  display: flex;
  align-items: center;
}