            /* HEADER */

header {
  margin: 2.5rem 0rem;
}

header .container {
  width: 90%;
  margin: auto;
  max-width: 1280px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav a {
  margin-left: 0.6rem;
  padding: 0.6rem 0rem 0.6rem 0.9rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--grey);
}

            /* HERO */ 


section.hero .container { 
  width: 90%;
  height: 37.5rem;
  max-width: 1280px;

  margin: auto;
  display: flex;
  align-items: center;
  
  background-image: url(/public/home/desktop/image-hero-coffeepress.jpg);
  background-size: cover;
  background-size: 100% 100%;
  border-radius: 10px;
}

section.hero .content {
  width: 85%;
  margin: auto;
  flex-direction: column;
}

section.hero .content h3 {
  width: 31.25rem;
}

section.hero .content p {
  width: 25rem;
  margin: 1.5rem 0rem;
}

section.hero button {
  padding: 0.7rem 1.5rem;
  border: 1px solid var(--green);
  border-radius: 5px;
  background-color: var(--green);
}

            /* COLLETION-COFFEES */

section.collection-coffees {
  margin: 8rem 0rem;
}

section.collection-coffees .container {
  max-width: 1280px;
  width: 90%;
  margin: auto;
}

section.collection-coffees .content {
  width: 85%;
  margin: auto;
  align-items: center;
}

section.collection-coffees .content div {
  text-align: center;
}

section.collection-coffees .container div span { 
  font-family: 'Fraunces', serif;
  font-weight: 600;
  font-size: 11vw;
  

  background: -webkit-linear-gradient(#c0c0c0, rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.collection-coffees .content-itens {
  margin-top: -3rem;
  text-align: center;
  

  display: grid;
  grid-template-columns: repeat(4, 1fr); 
}

section.collection-coffees .container .content-itens img {
  width: 100%;
  align-items: center;
}

section.collection-coffees .container .content-itens .second-content h1 {
  padding: 0rem 1rem;
}

section.collection-coffees .container .content-itens .second-content p {
  width: 12.5rem;
  margin: auto;
  padding: 0rem 1rem;
  margin-top: 1.25rem;
  color: var(--title-text-dark);
}

            /* WHY CHOOSE US */


section.choose-us .container {
  width: 90%;
  margin: auto;
  max-width: 1280px;
  border-radius: 10px;
  background-color: var(--background-dark);
}

section.choose-us .content-grid {
  display: grid;
  grid-template-columns: repeat(3, 31.5%);
  justify-content: space-between;
  text-align: center;
}

section.choose-us .content {
  width: 85%;
  margin: auto;
  height: 34rem;
  text-align: center;
}

section.choose-us .content h2 {
  padding-top: 5rem;
  color: var(--title-light); 
}

section.choose-us .content p:nth-child(2) {
  width: 50%;
  margin: auto;
  padding: 2rem 0rem;
}

section.choose-us .content .second-content p {
  margin: auto;
  padding: 1.25rem;
  font-weight: 400; 
}



section.choose-us .content-grid div {
  background-color: var(--green);
  border-radius: 5px;
}

section.choose-us .content-grid h1 {
  color: var(--title-light)
}

section.choose-us .content-grid p {
  max-width: 80%;
}

section.choose-us .content-grid .first-content img {
  width: 4.438rem;
  margin: 3rem 0rem;
  align-items: center;
  background-image: 100% 100%;
}

section.choose-us .content-grid .content-right ..first-content img {
  padding-top: 1.4rem;
}

section.choose-us .content-grid div {
  margin-top: 2.5rem;
}

            /* HOW IT WORKS */

section.how-works {
  margin: 15rem 0rem 10rem 0rem;
}

section.how-works .container {
  width: 90%;
  margin: auto;
  max-width: 1280px;
}

section.how-works .content {
  width: 85%;
  margin: auto;
  max-width: 1280px;
}

section.how-works .container h1:first-child {
  margin: 3rem 0rem;
  color: var(--grey);
}

section.how-works .content > div {
  display: grid;
  grid-template-columns: repeat(3, 34%);

  align-items: left;
  justify-content: left;
}

section.how-works .content-grid .circle {
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--green);
  border-radius: 50%;
  background-color: var(--background-light);
}

section.how-works .content-grid .line {
  height: 1px;
  margin-top: -0.5rem;
  margin-left: 1rem;
  background-color: var(--number-line);
}

section.how-works .content-grid .last-line {
  height: 1px;
  margin-top: -0.5rem;
  margin-left: 1rem;
  background-color: var(--background-light)
}

section.how-works .content-grid span {
  font-family: 'Fraunces', serif;
  font-weight: 600;
  font-size: 4rem;
  color: var(--number-line);
}

section.how-works .content-grid h1 {
  width: 150px;
  padding-top: 1.5rem;
}

section.how-works .content-grid p {
  width: 80%;
  padding: 2.5rem 0rem;
  font-weight: 400;
  color: var(--title-text-dark);
}

section.how-works .content-grid button {
  padding: 0.7rem 1.5rem;
  border: 1px solid var(--green);
  border-radius: 5px;
  color: var(--text);
  background-color: var(--green);
}

            /* FOOTER */

footer {
  width: 90%;
  margin: auto;
  max-width: 1280px;
  background-color: var(--background-dark);
}

footer #container {
  width: 85%;
  margin: auto;
  padding: 1.7rem 0rem;

  display: flex;
  align-items: center;
  justify-content: space-between; 
}

footer .content-left {
  display: flex;
}

footer .content-left nav a {
  padding-left: 2rem;
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--grey);
}

footer .content-left img {
  margin-right: 3rem;
  width: 12.5rem;
  height: 1.6rem;
}

footer .content-right img {
  margin-left: 2rem;
}

.footer-space {
  height: 4rem;
}


            /*RESPOSIVIDADE*/

            /*OUR COLLECTION*/           

@media screen and (max-width: 940px) {
  
  section.collection-coffees .content-itens {
    grid-template-columns: 1fr;
    margin: auto;
  }

  section.collection-coffees .content {
    width: 100%;
  }

  section.collection-coffees .content-itens .item {
    display: flex;
    margin: auto;
    align-items: center;
  }
  
  section.collection-coffees .content-itens {
    margin-top: -5rem;
  }

  section.collection-coffees .container div span {
    font-size: 13.8vw;
  }

  section.collection-coffees .content-itens .item .first-content img {
    width: 13rem;
    padding-top: 2rem;
  }

  section.collection-coffees .content-itens .item .first-content {
    justify-content: center;
    align-items: center;
    padding-right: 4rem;
  }

  section.collection-coffees .content-itens .item .second-content {
    text-align: left;
  }

  section.collection-coffees .content-itens .item .second-content p {
    width: 20rem;
  }

              /*CHOOSE US*/

  section.choose-us .content-grid {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }

  section.choose-us .content-grid div {
    
  }

  section.choose-us .content-grid 
  .content-left,
  .content-middle,
  .content-right {
    display: flex;
  
  }

}


@media screen and (max-width: 630px) {

}
