               /* HEADER */
 
header {
  margin: 2.5rem 0rem;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 90%;
  margin: auto;
  max-width: 1280px; 
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  color: var(--grey);
  transition: all 250ms linear 0s;

  font-size: 0.9rem;
  font-weight: 600;
  
  padding: 0.6rem 0rem 0rem 0.9rem;
  margin-left: 0.6rem;
}

header nav ul li a:hover {
  background: rgba(255,255,255, 0.15)
}

.menu-section .menu-toggle div a {
  display: none;
}
                /* HERO */ 


section.hero .container { 
  display: flex;
  
  background-image:
    url(/public/home/desktop/image-hero-coffeepress.jpg);
  background-size: cover;
  background-size: 100% 100%;
  border-radius: 10px;
  margin: auto;

  height: 37.5rem;
  width: 90%;
  max-width: 1280px;
}

.hero .content {
  margin: auto;
  width: 85%;
}

.hero .content p {
  margin: 1.5rem 0rem;
  width: 40%; 
}

              /* COLLETION-COFFEES */


section.collection-coffees {
  margin: 6rem 0rem 9rem 0rem;
}

.collection-coffees .container {
  text-align: center;
  margin: auto;

  width: 90%;
  max-width: 1280px;
}

.collection-coffees .content {
  align-items: center;
  margin: auto;
  width: 85%;
}

 .container .content-h3 h3 { 
  background:
    -webkit-linear-gradient(#c0c0c0, rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  font-size: 10vw;
  white-space: nowrap;
  margin: auto;
}

.collection-coffees .content-itens {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  text-align: center;
  margin-top: -3rem;
  width: 100%;
}

.container .content-itens img {
  align-items: center;
  width: 100%;
}

.content-itens .second-content h1 {
  padding: 0rem 1rem;
  white-space: nowrap;
}

.content-itens .second-content p {
  color: var(--title-text-dark);
  
  padding: 0rem 1rem;
  margin-top: 1.25rem;
  margin: auto;

  width: 90%;
}

              /* WHY CHOOSE US */


section.choose-us .container {
  background-color: var(--background-dark);
  border-radius: 10px;
  margin: auto;

  width: 90%;
  max-width: 1280px;

  z-index: 1;
}

section.choose-us .content  {
  text-align: center;
  margin: auto;

  width: 85%;
  height: 34rem;
}

.choose-us .content h2 {
  color: var(--title-light);
  padding-top: 6rem; 
}

.choose-us  .content > p {
  padding: 2rem 0rem;
  margin: auto;

  width: 50%;
  min-width: 16rem;
}

section.cards-quality {
  z-index: 999;
  position: relative;
  
  border-radius: 10px;
  margin: auto;
  margin-top: -12rem;

  width: 90%;
  max-width: 1280px;
}

.cards-quality .container{
  text-align: center;
  margin: auto;
  width: 85%;
} 

.cards-quality .container{
  text-align: center;
  margin: auto;
  width: 85%;
}

.cards-quality .content-grid {
  display: grid;
  grid-template-columns: repeat(3, 31.5%);
  justify-content: space-between;
  text-align: center;
}

.cards-quality .content-grid div {
  background-color: var(--green);
  border-radius: 5px;
}

.cards-quality .content-cards img {
  background-image: 100% 100%;
  align-items: center;
  margin: 3rem 0rem;
}

#last-img {
  padding: 1rem 0rem 0.44rem 0rem;
}

.cards-quality .content-grid h1 {
  color: var(--title-light);
  margin-bottom: 1rem;
}

.cards-quality .content-grid p {
  padding-bottom: 3rem;
  margin: auto;
  width: 80%;
}

               /* HOW IT WORKS */


section.how-works {
  margin: 10rem 0rem;
}

.how-works .container {
  margin: auto;
  max-width: 1280px;
  width: 90%;
}

.how-works .content {
  margin: auto;
  width: 85%;
}

.how-works .container h1:first-child {
  margin: 0rem 0rem 2rem 0rem;
  color: var(--grey);
}

.how-works .content > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  justify-content: left;
  align-items: left;
}

section.how-works .content-grid .circle {
  background-color: var(--background-light);
  border: 1px solid var(--green);
  border-radius: 50%;

  width: 1rem;
  height: 1rem;
}

section.how-works .content-grid .line {
  background-color: var(--number-line);

  height: 1px;
  margin-left: 1rem;
  margin-top: -0.5rem;
}

section.how-works .content-grid .last-line {
  background-color: var(--background-light);
  margin-left: 1rem;
  margin-top: -0.5rem;

  height: 1px;
}

section.how-works .content-grid span {
  color: var(--number-line);

  font-family: 'Fraunces', serif;
  font-weight: 600;
  font-size: 4rem;
}

section.how-works .content-grid h1 {
  padding-top: 1.5rem;
  width: 150px;
}

section.how-works .content-grid p {
  color: var(--title-text-dark);
  font-weight: 400;
  padding: 2.5rem 0rem;

  width: 80%;
}

              /* FOOTER */


footer {
  background-color: var(--background-dark);
  margin: auto;

  width: 90%;
  max-width: 1280px; 
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between; 

  padding: 2rem 0rem;
  margin: auto;
  width: 85%;
}

footer .content-left {
  display: flex;
}

footer .content-left nav a {
  color: var(--grey);
  font-size: 0.7rem;
  font-weight: 600;
  padding-left: 2rem;
  
  transition: 0.7s;
}

footer .content-left nav a:hover {
  color: var(--title-light);
}

footer .content-left img {
  margin-right: 3rem;
  cursor: pointer;
  height: 1.6rem;
}

footer .content-right img {
  margin-left: 2rem;
  transition: 0.3s;
}

.footer-space {
  height: 3rem;
}








